/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v14-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v14-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-v14-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

.rex-slice .ck-editor iframe,
.rex-slice .ck-editor img,
.rex-slice .ck-editor svg,
.rex-slice .ck-editor video,
.rex-slice .ck-editor object,
.rex-slice .ck-editor embed {
    max-width: unset;
}

.slider.slider-horizontal {
    width: 96%;
    margin: 0 2%;
    min-width: 260px;
}

.cke5-help-page img {
    max-width: 100%;
    height: auto;
}

.cke5-icon-logo {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: -25px;
    background: url(../images/cke5.svg) no-repeat 0 0;
    background-size: 18px 18px;
    vertical-align: middle;
}

.active .cke5-icon-logo {
    background-image: url(../images/cke5_white.svg);
}

.page-header .cke5-icon-logo {
    margin-left: 0;
    width: 40px;
    height: 40px;
    background-size: 38px 38px;
    background-image: url(../images/cke5_black.svg);
}

.cke5-header {
    position: relative;
    display: block;
    background-size: cover;
    background-position: center top;
    background-color: #000;
    background-image: url(../images/header-patrick-fore-357913-unsplash.jpg);
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    min-height: 260px;
}

.cke5-header picture img {
    max-width: 100%;
    min-height: 260px;
    max-height: 360px;
    opacity: 0;
}

.panel-body > .cke5-header {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
}

.cke5-header .header-content {
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    transition: transform .2s ease-in-out;
}

.cke5-header h1 {
    padding-top: 110px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #fff;
    line-height: 1.1em;
}

@media (min-width: 768px) {
    .cke5-header h1:before {
        width: 130px;
        height: 130px;
        margin-left: 7.5px;
    }
}

.cke5-header h1:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 110px;
    height: 110px;
    transform: translateX(-50%);
    background: url(../images/cke5_white.svg) no-repeat;
    background-size: contain;
}

.cke5-header .photoinfo {
    position: absolute;
    z-index: 98;
    bottom: 13px;
    right: 17px;
}

.cke5-header .photoinfo a {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.cke5-demo {
    margin: 0 auto;
    max-width: 1030px;
}

.cke5-mainnav {
    padding: 20px 0 25px 0;
}

.nav.nav-pills.list-inline > li {
    float: inherit !important;
    position: inherit !important;
    display: inline-block !important;
}

.cke5-preview .cke5-preview-editor {
    margin: 0 auto;
    max-width: 1030px;
    display: block;
}

.cke5-preview {
    max-width: 1330px;
    margin: 0 auto;
}

.markdown-body table {
    display: block;
    width: 100%;
    overflow: auto;
}

.markdown-body table th {
    font-weight: 600;
    text-align: center;
}

.markdown-body table th, .markdown-body table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

.markdown-body table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

.markdown-body table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.markdown-body kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
}

.cke5-editor-info {
    margin-top: 0.5em;
    padding: 6px 13px;
    background: #f6f8fa;
    border: 1px solid #dfe2e5;
}

.cke5-editor-info p {
    margin: 0;
    padding: 0;
}

.cke5-editor-info,
.cke5-preview-row {
    -webkit-box-shadow: inset 0px 0px 64px -45px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: inset 0px 0px 64px -45px rgba(0, 0, 0, 0.31);
    box-shadow: inset 0px 0px 64px -45px rgba(0, 0, 0, 0.31);
}

.cke5-preview-row {
    background: #fff;
    border: 1px solid #dfe2e5;
    border-left: none;
    border-right: none;
    padding: 2em 15px;
    margin: 0 -15px 1.5em -15px;
    background-image: linear-gradient(45deg, #f7f7f7 25%, transparent 25%),
    linear-gradient(-45deg, #f7f7f7 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #f7f7f7 75%),
    linear-gradient(-45deg, transparent 75%, #f7f7f7 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.cke5-preview-row dl {
    margin-bottom: 0;
}

.cke5-preview-code {
    margin: 1em 0 2em;
}

.cke5-preview h4 {
    margin: 1em 0;
}

.cke5-preview .cke5-preview-row {
    margin: 0;
    border: none;
    padding: 1em 2em;
}

.cke5-preview .cke5-preview-row:nth-child(odd) {
    background-color: #fcfcfc;
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%),
    linear-gradient(-45deg, #fff 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #fff 75%),
    linear-gradient(-45deg, transparent 75%, #fff 75%);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.cke5-preview .cke5-preview-row:nth-child(even) {
    background-image: linear-gradient(45deg, #f7f7f7 25%, transparent 25%),
    linear-gradient(-45deg, #f7f7f7 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #f7f7f7 75%),
    linear-gradient(-45deg, transparent 75%, #f7f7f7 75%);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.minmax-inner {
    display: block;
    clear: both;
    min-height: 100px;
}

#rex-addon-editmode .cke5-preview-code {
    margin-bottom: 0;
}

#cke5fontBackgroundColor-collapse .row.inputElement .form-group,
#cke5fontColor-collapse .row.inputElement .form-group {
    padding-right: 0;
    margin-bottom: 0;
}

.colpick.colpick_full {
    z-index: 10;
}

.colpick .colpick_field_letter {
    width: 14px;
    padding-left: 0;
    text-align: center;
}

.inputWrapper .inputElement {
    margin-right: -15px;
    margin-left: 35px;
}

.inputWrapper .add {
    left: 0;
    right: inherit;
}

.inputWrapper .remove {
    left: 20px;
    right: inherit;
}

.cke5_clangtabs {
    margin-left: -15px;
    margin-right: -15px;
    border-bottom: 15px solid #e1ebe5;
    margin-bottom: 20px;
}

.cke5_clangtabs .nav {
    padding-left: 5px;
    border-bottom: 1px solid #bfe0d8;
}

.cke5-tabform {
    padding: 20px 15px 5px 15px;
    background-color: #dadada;
    border-bottom: 1px solid #bfe0d8;
}

.cke5_clangtabs .nav-tabs > li.active > a,
.cke5_clangtabs .nav-tabs > li.active > a:hover,
.cke5_clangtabs .nav-tabs > li.active > a:focus {
    background-color: #dadada;
    border-color: #bfe0d8;
    border-top: 2px solid #3bb594;
    border-bottom: 1px solid #dadada;
    border-radius: 4px 4px 0 0;
}

.cke5_clangtabs .nav-tabs > li > a {
    color: #333;
    background-color: #e6eaf0;
    border-color: #f1f6fc;
    border-radius: 4px 4px 0 0;
}

.cke5_clangtabs .nav-tabs > li > a:hover {
    color: #fff;
    background-color: #5b7c81;
    border-color: #3bb594;
}

.cke5_clangtabs .nav.nav-tabs {
    background-color: #e1ebe5;
    padding-top: 12px;
    /*margin-top: -15px;*/
}

dl + .cke5_clangtabs .nav.nav-tabs,
.cke5-first-group + .cke5_clangtabs .nav.nav-tabs {
    margin-top: 0;
}

.cke5_wrap_rex_profile_data {
    background-color: #e1ebe5;
    margin: -15px;
    padding: 15px;
}

.ck-powered .ck.ck-powered-by {
    display: none !important;
    text-indent: -99999em;
}

/* ckeditor5_rexLink */

.ck.ck-link-form_layout-vertical .ck-reset.ck-list + .ck-redaxo-link-dropdown {
    margin-left: 0 !important;
    min-height: var(--ck-ui-component-min-height);
    margin-top: var(--ck-spacing-medium);
}

.ck-vertical-form > .ck-redaxo-link-dropdown > .ck-button:after {
    content: "";
    width: 0;
    position: absolute;
    right: -1px;
    top: var(--ck-spacing-small);
    bottom: var(--ck-spacing-small);
    z-index: 1;
}

.ck.ck-link-form_layout-vertical .ck-redaxo-link-dropdown {
    border-right: 1px solid var(--ck-color-base-border);
}

.ck.ck-link-form_layout-vertical .ck-redaxo-link-dropdown .ck-reset.ck-list .ck-button {
    width: 100% !important;
}

.ck.ck-link-form_layout-vertical .ck-redaxo-link-dropdown .ck-reset.ck-list {
    margin: 0!important;
}

.ck.ck-link-form_layout-vertical .ck-reset.ck-list + .ck-button:not(.ck-button-save):not(.ck-button-cancel),
.ck.ck-link-form_layout-vertical .ck-button,
.ck.ck-link-form_layout-vertical .ck-button + .ck-button.ck-button-save,
.ck.ck-link-form_layout-vertical .ck-button + .ck-button.ck-button-save + .ck-button.ck-button-cancel,
.ck.ck-link-form_layout-vertical .ck-redaxo-link-dropdown,
.ck.ck-link-form_layout-vertical .ck-redaxo-link-dropdown + .ck-button.ck-button-save,
.ck.ck-link-form_layout-vertical .ck-redaxo-link-dropdown + .ck-button.ck-button-save + .ck-button.ck-button-cancel {
    width: 33.33%;
}

.ck.ck-link-form_layout-vertical .ck-reset.ck-list + .ck-button:not(.ck-button-save):not(.ck-button-cancel) + .ck-button {
    border-right: 1px solid var(--ck-color-base-border);
}

.ck.ck-link-form_layout-vertical >.ck-redaxo-link-dropdown >.ck-button:not(:focus) {
    border-top: 1px solid var(--ck-color-base-border);
}

.ck.ck-link-form_layout-vertical >.ck-redaxo-link-dropdown >.ck-button {
    border-radius: 0;
    margin: 0;
    padding: var(--ck-spacing-standard);
    width: 50%;
}

@media (prefers-color-scheme:dark) {
    body:not(.rex-theme-light) .cke5-preview-row {
        background: #151515;
        border: 1px solid #29292a;
        border-left: none;
        border-right: none;
        background-image: linear-gradient(45deg, #1c1c1c 25%, transparent 25%),
        linear-gradient(-45deg, #1c1c1c 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #1c1c1c 75%),
        linear-gradient(-45deg, transparent 75%, #1c1c1c 75%);
        background-size: 20px 20px;
        background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    }

    .cke5-editor-info {
        background: #1e1e1e;
        border: 1px solid #353536;
    }

    body:not(.rex-theme-light) .cke5_wrap_rex_profile_data {
        background-color: #383838;
    }

    body:not(.rex-theme-light) .cke5_clangtabs {
        border-bottom: 15px solid #383838;
    }

    body:not(.rex-theme-light) .cke5_clangtabs .nav {
        border-bottom: 1px solid #394240;
    }

    body:not(.rex-theme-light) .cke5-tabform {
        background-color: #343434;
        border-bottom: 1px solid #394240;
    }

    body:not(.rex-theme-light) .cke5_clangtabs .nav-tabs > li.active > a,
    body:not(.rex-theme-light) .cke5_clangtabs .nav-tabs > li.active > a:hover,
    body:not(.rex-theme-light) .cke5_clangtabs .nav-tabs > li.active > a:focus {
        color: #fff;
        background-color: #343434;
        border-color: #464646;
        border-top: 2px solid #3bb594;
        border-bottom: 1px solid #343434;
    }

    body:not(.rex-theme-light) .cke5_clangtabs .nav-tabs > li > a {
        color: #ccc;
        background-color: #3f3f3f;
        border-color: #313131;
    }
    body:not(.rex-theme-light) .cke5_clangtabs .nav-tabs > li > a:hover {
        color: #ccc;
        background-color: #252526;
        border-color: #0f0f10;
    }

    body:not(.rex-theme-light) .cke5_clangtabs .nav.nav-tabs {
        background-color: #383838;
    }

    body:not(.rex-theme-light) .cke5_wrap_rex_profile_data {
        background-color: #383838;
    }

    body:not(.rex-theme-light) .cke5-preview-code pre {
        background-color: #0a0e14 !important;
    }
}

.cke5_subpagenavigation .nav.rex-page-nav {
    margin-bottom: 10px !important;
}

.cke5-uplaod-wrapper {
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.02);
    padding: 10px;
}

.cke5-upload-dropzone {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.cke5-upload-dropzone.active {
    border-color: #2b7dc0;
    background-color: #f7f7f7;
}

.cke5-upload-dropzone i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #666;
}

.cke5-upload-status {
    margin-top: 15px;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.cke5-upload-status .filename {
    font-weight: bold;
    vertical-align: middle;
}

.cke5-upload-status .files-list {
    max-height: 200px;
    overflow-y: auto;
}

.cke5-upload-status .no-files {
    font-style: italic;
    color: #666;
    padding: 5px;
}

.cke5-upload-status .file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.cke5-upload-status .file-item:last-child {
    border-bottom: none;
}

.cke5-upload-status .file-item:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.cke5-upload-status .btn-delete {
    color: #d9534f;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.cke5-upload-status .btn-delete:hover {
    color: #c9302c;
}

/* Dark Mode Support */
@media (prefers-color-scheme: dark) {
    body.rex-has-theme:not(.rex-theme-light) .cke5-uplaod-wrapper {
        border-color: #444;
        background-color: rgba(0, 0, 0, 0.025);
    }

    body.rex-has-theme:not(.rex-theme-light) .cke5-upload-dropzone {
        border-color: #444;
    }

    body.rex-has-theme:not(.rex-theme-light) .cke5-upload-dropzone.active {
        border-color: #3c7dbe;
        background-color: #33373f;
    }

    body.rex-has-theme:not(.rex-theme-light) .cke5-upload-dropzone i {
        color: #aaa;
    }

    body.rex-has-theme:not(.rex-theme-light) .cke5-upload-status {
        background-color: #33373f;
    }

    body.rex-has-theme:not(.rex-theme-light) .cke5-upload-status .no-files {
        color: #aaa;
    }

    body.rex-has-theme:not(.rex-theme-light) .cke5-upload-status .file-item {
        border-bottom-color: #444;
    }

    body.rex-has-theme:not(.rex-theme-light) .cke5-upload-status .file-item:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }
}

/* Fix for the top REX-navbar covering / hiding the CK sticky toolbar-panel at the top of the viewport in certain conditions.
Note: CK only uses the sticky panel at the top, when editor has focus and the top has scrolled past the viewport. */
.rex-page:has(#rex-js-nav-top:not(.rex-nav-top-is-hidden)) .ck.ck-sticky-panel .ck-sticky-panel__content_sticky{
    margin-top: 60px;
    transition: margin-top 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media (max-width: 991px) {
    .rex-page:has(#rex-js-nav-top:not(.rex-nav-top-is-hidden)) .ck.ck-sticky-panel .ck-sticky-panel__content_sticky{
        margin-top: 50px;
    }
}
